body{
    background: url(img/nature.png) no-repeat center center fixed;
    background-size: cover;
}
.container{
    margin-top: 8%;
    
}
.card {

    border-radius: 10px;
    border-top: 5px solid whitesmoke(176, 106, 252);
    background-color: transparent;
    opacity: 5;
    -webkit-box-shadow: 1px 4px 26px 12px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 4px 26px 12px rgba(0,0,0,0.75);
    box-shadow: 1px 4px 26px 12px rgba(0,0,0,0.75);
    
    color:white
    
}

h2 {
    font-weight: 600;
    font-size: 30px
}

.form-control {
    border: 1px solid #b5edf7;
    border-radius: 3px;
    background: white;
    margin-bottom: 20px;
    letter-spacing: 1px
}

.form-control:focus {
    border: 1px solid;
    border-radius: 3px;
    box-shadow: none;
    background: rgb(238, 179, 18);
    color: black;
    letter-spacing: 1px
}
.btn-primary {
    background:rgb(238, 179, 18);
    border: none;
    border-radius: 5px
}

.btn-primary:focus {
    box-shadow: none;
    border: none
}



@media(min-width: 767px) {
    .bn {
        text-align: right
    }
}

@media(max-width: 767px) {
    .form-check {
        text-align: center
    }

    .bn {
        text-align: center;
        align-items: center
    }
}

@media(max-width: 450px) {
    .fab {
        width: 100%;
        height: 100%
    }

    .division .line {
        width: 50%
    }
}